<div class="flex flex-col p-4">
  <div class="w-full md:overflow-hidden overflow-auto">
    <div class="my-4 grid md:grid-flow-row md:grid-rows-1 gap-4 grid-flow-col">
      <div
        class="flex items-center rounded-md min-w-max bg-white p-4 border-solid border border-gray-100"
      >
        <div
          class="flex h-12 w-12 items-center justify-center rounded-full border border-orange-100 bg-orange-50"
        >
          <svg
            class="h-6 w-6 text-orange-400"
            fill="none"
            stroke="currentColor"
            strokewidth="2"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              strokelinecap="round"
              strokelinejoin="round"
            ></path>
          </svg>
        </div>
        <div class="ml-4">
          <h2 class="font-semibold">Blog Title 1</h2>
          <p class="mt-2 text-sm text-gray-500">Updated 3 days ago</p>
        </div>
      </div>
      <div
        class="flex items-center rounded-md min-w-max bg-white p-4 border-solid border border-gray-100"
      >
        <div
          class="flex h-12 w-12 items-center justify-center rounded-full border border-orange-100 bg-orange-50"
        >
          <svg
            class="h-6 w-6 text-orange-400"
            fill="none"
            stroke="currentColor"
            strokewidth="2"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              strokelinecap="round"
              strokelinejoin="round"
            ></path>
          </svg>
        </div>
        <div class="ml-4">
          <h2 class="font-semibold">Blog Title 2</h2>
          <p class="mt-2 text-sm text-gray-500">Updated a yead ago</p>
        </div>
      </div>
      <div
        class="flex items-center rounded-md min-w-max bg-white p-4 border-solid border border-gray-100"
      >
        <div
          class="flex h-12 w-12 items-center justify-center rounded-full border border-orange-100 bg-orange-50"
        >
          <svg
            class="h-6 w-6 text-orange-400"
            fill="none"
            stroke="currentColor"
            strokewidth="2"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              strokelinecap="round"
              strokelinejoin="round"
            ></path>
          </svg>
        </div>
        <div class="ml-4">
          <h2 class="font-semibold">Blog Title 3</h2>
          <p class="mt-2 text-sm text-gray-500">Updated Last month</p>
        </div>
      </div>
      <div
        class="flex items-center rounded-md min-w-max bg-white p-4 border-solid border border-gray-100"
      >
        <div
          class="flex h-12 w-12 items-center justify-center rounded-full border border-orange-100 bg-orange-50"
        >
          <svg
            class="h-6 w-6 text-orange-400"
            fill="none"
            stroke="currentColor"
            strokewidth="2"
            viewbox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              strokelinecap="round"
              strokelinejoin="round"
            ></path>
          </svg>
        </div>
        <div class="ml-4">
          <h2 class="font-semibold">Blog Title 4</h2>
          <p class="mt-2 text-sm text-gray-500">Updated 30 days ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
